.furtherInfo {
  &.popover {
    border-radius: 0.4rem;

    .popover_arrow {
      border-color: #1e1e1e transparent transparent transparent !important;

      &:before {
        border-color: #1e1e1e transparent transparent transparent !important;
      }
    }

    .popover-header {
      background: #3e3e3e;
      color: white;
      border-bottom: 2px solid #f44336;
    }

    .popover-body {
      background: #1e1e1e;

      .btn {
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        word-wrap: break-word;

        img {
          border-radius: 0.2rem;
        }

        &.btn-black {
          background: transparentize($color: black, $amount: 0.8) !important;
          border: 2px black solid;
          &:hover {
            background: transparentize($color: black, $amount: 0.4) !important;
          }
        }
      }
      .badge {
        i {
          margin-right: 0 !important;
          padding-right: 0.2rem !important;
        }

        border-radius: 0.5rem !important;
      }
      .badge-elegant-color {
        background: transparentize($color: #3e3e3e, $amount: 0.7) !important;
        border-radius: 0.5rem;
        border: 2px darken(#3e3e3e, 15%) solid !important;
      }
      .badge-orange {
        background: transparentize($color: #ff9800, $amount: 0.7) !important;
        border-radius: 0.5rem;
        border: 2px darken(#ff9800, 15%) solid !important;
      }
      .badge-red {
        background: transparentize($color: #f44336, $amount: 0.7) !important;
        border-radius: 0.5rem;
        border: 2px darken(#f44336, 15%) solid !important;
      }
      .badge-info {
        background: transparentize($color: #33b5e5, $amount: 0.6) !important;
        border-radius: 0.5rem;
        border: 2px #33b5e5 solid !important;
      }
      .badge-amber {
        background: transparentize($color: #ffc107, $amount: 0.6) !important;
        border-radius: 0.5rem;
        border: 2px #ffc107 solid !important;
      }
      .badge-secondary {
        background: transparentize($color: #bc37d3, $amount: 0.6) !important;
        border-radius: 0.5rem;
        border: 2px #bc37d3 solid !important;
      }
      .badge-gold {
        background: transparentize($color: gold, $amount: 0.6) !important;
        border-radius: 0.5rem;
        border: 2px gold solid !important;
      }
    }
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
