.chat-item {
  margin-bottom: 1rem;

  .small {
    font-size: 0.7rem;
  }

  .react_tinylink_card {
    margin: 0.6rem 0;
    border: none;
  }

  .reverse {
    flex-direction: row-reverse;
    .body-container {
      padding-right: 0.5rem;
      padding-left: 0.5rem;

      .body {
        background: darken(grey, 40%);
        border-top-right-radius: 0.2rem;
        border-top-left-radius: 1rem;
        span {
          word-break: break-word;
          a {
            color: #33b5e5;
            &:hover {
              color: lighten(#33b5e5, 10%);
            }
          }
        }
      }
    }
  }

  .body-container {
    max-width: 70%;
    min-width: 50%;
    padding-left: 0.5rem;

    .body {
      background: darken(grey, 20%);
      border-radius: 1rem;
      border-top-left-radius: 0.2rem;
      padding: 0.5rem 1rem;
      span {
        word-break: break-word;
      }
    }
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
