.post {
  .basic {
    font-size: 1.3em !important;
  }

  .name {
    font-weight: bold;
    transition: color 0.1s ease;
    &:hover {
      color: gold;
    }
  }
  &.deleted {
    opacity: 0.4;
    .card-body {
      border-left: 10px red solid;
    }
  }
  .bottom {
    // Like button
    i {
      cursor: pointer;
      transition: all 0.1s ease;
      &.text-red {
        color: #e2264d !important;
        &:hover {
          color: lighten(#e2264d, 10%) !important;
        }
      }
      &.text-white {
        color: lighten(#848e96, 15%) !important;
        &:hover {
          color: white !important;
        }
      }
    }

    // Delete button
    .clickable {
      color: #6c757d;
      transition: color 0.1s ease;
      &:hover {
        color: lighten(#6c757d, 10%);
      }
    }
  }
  .toggle-basic {
    .clickable {
      color: #6c757d;
      transition: color 0.1s ease;
      &:hover {
        color: lighten(#6c757d, 10%);
      }
    }
  }

  .gold {
    border: 2px darken(gold, 20%) solid;
    border-radius: 0.2rem;
  }

  .skin-label {
    line-height: initial;
    margin-top: -5px;
    font-size: 90%;
    text-align: right;
    &::first-letter {
      text-transform: uppercase;
    }
    .gold-label {
      color: darken(gold, 10%);
    }
    .dark-label {
      color: lightcoral;
    }
  }

  .furtherInfo {
    .badge {
      border-radius: 0;
      box-shadow: none;
      font-size: 0.7rem;
      padding: 0.4rem;
      margin: 0.2rem;
    }
    img {
      height: 12px !important;
      width: auto !important;
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
