.post{
  .bottom{
    i{
      cursor: pointer;
      transition: all .1s ease;
      &:hover{
        color: lighten(#848e96, 10%) !important;
      }
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Christian Aichner
 */
