.navbar {
  .btn {
    background: transparentize($color: #2e2e2e, $amount: 0.8) !important;
    border-radius: 0.5rem;
    border: 2px #2e2e2e solid;
    &:hover {
      background: transparentize($color: #2e2e2e, $amount: 0.5) !important;
    }
    &.btn-outline-yellow {
      background: transparentize($color: #fbc02d, $amount: 0.95) !important;
      border-radius: 0.5rem;
      border: 2px #fbc02d solid;
      &:hover {
        background: transparentize($color: #fbc02d, $amount: 0.9) !important;
      }
    }
  }

  .notify-bell {
    position: relative;
    .counter {
      position: absolute;
      top: -13px;
      right: -17px;
      background: rgba(244, 67, 54, 0.5) !important;
      border: 2px #f44336 solid;
      border-radius: 0.4rem;
      padding: 0 0.5rem;
    }
  }
  .dropdown-menu {
    padding: 0;
    .popover-enter-done {
      border: none;
      outline: none;
      .notify {
        border: none;
        outline: none;
      }
    }
  }

  .perks {
    background: transparentize($color: #2e2e2e, $amount: 0.8);
    border-radius: 0.5rem;
    border: 2px #2e2e2e solid;
    i {
      &.fa-medal {
        color: lighten(#9c27b0, 10%) !important;
      }
    }
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
