#chats {
  .btn {
    border-radius: 0.5rem;
    text-transform: initial;
    &.btn-blue {
      background: transparentize($color: #33b5e5, $amount: 0.5) !important;
      border: 2px #33b5e5 solid;
      &:hover {
        background: transparentize($color: #33b5e5, $amount: 0.4) !important;
      }
    }
  }

  .card {
    background: #2e2e2e;
    color: white;
    box-shadow: none;
    border-radius: 0;

    &.active {
      background: lighten(#2e2e2e, 5%);
    }
    &:hover {
      background: lighten(#2e2e2e, 2%);
    }

    .text-muted {
      color: #848e96;
    }

    // Country chat
    .flag {
      display: inline-block;
      margin-right: 0.5rem;
    }

    .basic {
      &.small {
        font-size: 0.5em !important;
      }
    }
  }
}
