.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

// Custom colors
.sithcult-dark{
	background-color: $sithcultDark !important;
	&.darken-1{
		background-color: darken($sithcultDark, 5%) !important;
	}
	&.darken-2{
		background-color: darken($sithcultDark, 10%) !important;
	}
	&.darken-3{
		background-color: darken($sithcultDark, 15%) !important;
	}
	&.lighten-1{
		background-color: lighten($sithcultDark, 10%) !important;
	}
	&.lighten-2{
		background-color: lighten($sithcultDark, 20%) !important;
	}
	&.lighten-3{
		background-color: lighten($sithcultDark, 30%) !important;
	}
}
.sithcult-red{
	background-color: $sithcultRed !important;
	&.darken-1{
		background-color: darken($sithcultRed, 10%) !important;
	}
	&.darken-2{
		background-color: darken($sithcultRed, 20%) !important;
	}
	&.darken-3{
		background-color: darken($sithcultRed, 30%) !important;
	}
	&.lighten-1{
		background-color: lighten($sithcultRed, 10%) !important;
	}
	&.lighten-2{
		background-color: lighten($sithcultRed, 20%) !important;
	}
	&.lighten-3{
		background-color: lighten($sithcultRed, 30%) !important;
	}
}

.red-text{
	color: $sithcultRed !important;
}

body{
	background-color: #2e2e2e !important;
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
