.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

// Custom colors
.sithcult-dark {
  background-color: $sithcultDark !important;
  &.darken-1 {
    background-color: darken($sithcultDark, 5%) !important;
  }
  &.darken-2 {
    background-color: darken($sithcultDark, 10%) !important;
  }
  &.darken-3 {
    background-color: darken($sithcultDark, 15%) !important;
  }
  &.lighten-1 {
    background-color: lighten($sithcultDark, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($sithcultDark, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($sithcultDark, 30%) !important;
  }
}
.sithcult-red {
  background-color: $sithcultRed !important;
  &.darken-1 {
    background-color: darken($sithcultRed, 10%) !important;
  }
  &.darken-2 {
    background-color: darken($sithcultRed, 20%) !important;
  }
  &.darken-3 {
    background-color: darken($sithcultRed, 30%) !important;
  }
  &.lighten-1 {
    background-color: lighten($sithcultRed, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($sithcultRed, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($sithcultRed, 30%) !important;
  }
}

// Custom text
.text-red {
  color: $sithcultRed !important;
}
.text-gold {
  color: gold !important;
}
.text-white {
  color: white !important;
}

body {
  background-color: #2e2e2e !important;
}

// Custom buttons
.underlined {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: gold;
  padding-bottom: 0.15em;
  box-sizing: border-box;
  box-shadow: inset 0 -0.2em 0 gold;
  transition: 0.2s;
  &:hover {
    color: #222;
    box-shadow: inset 0 -2em 0 gold;
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.clickable {
  cursor: pointer;
}

.word-break-all {
  word-break: break-all !important;
}

.btn-modern {
  overflow: visible !important;
  position: relative;
  background: none;
  color: gold;
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: none;
  border: 0.2em solid gold;
  padding: 0.5em 1em;
  box-shadow: none;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    color: gold;
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }
}

.btn {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
}

// Custom scrollbar
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
