#blogview {
  margin-top: 7rem;

  .top-image {
    filter: blur(2px);
  }

  .card.card-cascade.wider.reverse .card-body.card-body-cascade {
    margin-top: -150px;
    background: darken(#2e2e2e, 1%);
    border-radius: 0.4rem;
    box-shadow: none;
    color: white;

    .badge {
      background: darken(#2e2e2e, 1%) !important;
      border: 2px darken(#2e2e2e, 5%) solid;
    }
  }
}
