@import "../../../utilities/variables";

#donate {
  .md-progress {
    background: lighten(black, 30%);
    height: 10px;
    .progress-bar {
      background: #ff3547;
      height: 10px;
    }
  }
  .embed-responsive {
    div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  .badge {
    box-shadow: none;
    padding: 0.5rem;
    margin: 0.2rem;
  }
  .badge-elegant-color {
    background: transparentize($color: #3e3e3e, $amount: 0.7) !important;
    border-radius: 0.5rem;
    border: 2px darken(#3e3e3e, 15%) solid !important;
  }
  .badge-orange {
    background: transparentize($color: #ff9800, $amount: 0.7) !important;
    border-radius: 0.5rem;
    border: 2px darken(#ff9800, 15%) solid !important;
  }
  .badge-red {
    background: transparentize($color: #f44336, $amount: 0.7) !important;
    border-radius: 0.5rem;
    border: 2px darken(#f44336, 15%) solid !important;
  }
  .badge-info {
    background: transparentize($color: #33b5e5, $amount: 0.6) !important;
    border-radius: 0.5rem;
    border: 2px #33b5e5 solid !important;
  }
  .badge-amber {
    background: transparentize($color: #ffc107, $amount: 0.6) !important;
    border-radius: 0.5rem;
    border: 2px #ffc107 solid !important;
  }
  .badge-secondary {
    background: transparentize($color: #bc37d3, $amount: 0.6) !important;
    border-radius: 0.5rem;
    border: 2px #bc37d3 solid !important;
  }
  .badge-gold {
    background: transparentize($color: gold, $amount: 0.6) !important;
    border-radius: 0.5rem;
    border: 2px gold solid !important;
  }

  .btn {
    i {
      margin-right: 0.3rem;
    }
    &.btn-blue {
      background: white !important;
      color: #3f51b5;
    }
  }
  .thankyou {
    position: relative;
    .old {
      position: relative;
      background: transparent;
      z-index: 1;
    }
    .new {
      position: absolute;
      top: 0;
      .progress-bar {
        background: lightcoral;
      }
    }
    .md-form {
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    #donmsginput {
      max-height: 150pt;
      min-height: 30pt;
    }
  }
  .blockquote {
    p {
      padding: 0;
    }
    footer {
      margin-bottom: 0 !important;
    }
  }
  .confetti {
    max-width: 100%;
  }
  .paypal-buttons {
    z-index: 1 !important;
  }
  .loadingscreen {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 2;
    .preloader-wrapper .spinner-layer .circle-clipper .circle {
      border-width: 0.4rem;
    }
  }

  // Masonry layout vertical
  .masonry-with-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1000px;
    div {
      flex: 1 0 auto;
      background: #00997b;
      color: white;
      margin: 0 1rem 1rem 0;
      text-align: center;
      font-weight: 900;
      font-size: 2rem;
    }
    @for $i from 1 through 36 {
      div:nth-child(#{$i}) {
        $h: (random(400) + 100) + px;
        height: $h;
        line-height: $h;
      }
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
