.comment-container {
  .child-input {
    margin-left: 25px;
    textarea {
      border-left: 3px lighten(grey, 30%) solid;

      &:focus {
        border-left: 3px gold solid;
      }
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
