#blogeditor {
  .rich-editor .rdw-editor-main {
    background-color: #fff;
  }

  .public-DraftEditor-content {
    padding: 1rem;
  }

  .public-DraftStyleDefault-block {
    margin: 0;
  }

  .draft-editor-wrapper {
    border: 1px solid #ccc;
  }

  .btn {
    border-radius: 0.5rem;
    text-transform: initial;
    margin: 0;

    &.btn-blue {
      background: transparentize($color: #33b5e5, $amount: 0.5) !important;
      border: 2px #33b5e5 solid;

      &:hover {
        background: transparentize($color: #33b5e5, $amount: 0.4) !important;
      }
    }

    &.btn-red {
      background: transparentize($color: #f44336, $amount: 0.5) !important;
      border: 2px #f44336 solid;

      &:hover {
        background: transparentize($color: #f44336, $amount: 0.4) !important;
      }
    }
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
