.RichTextEditor__root___2QXK- {
  background-color: #1e1e1e;
  border: none;
  font-family: "Roboto", sans-serif;
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
