.rich-editor .rdw-editor-main {
  background-color: #fff;
}
.public-DraftEditor-content {
  padding: 1rem;
}
.public-DraftStyleDefault-block {
  margin: 0;
}
.draft-editor-wrapper {
  border: 1px solid #ccc;
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
